body {
	background-image: url("./gpate_agua.png");
	background-size: contain;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* 1 */
	line-height: 1.5;
	/* 2 */
}

table {
	border-collapse: collapse;
	display: table;
}

thead {
	height: 70px;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-col {
	flex-direction: column;
}

.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: 700;
}

.text-xl {
	font-size: xx-large;
}

.text-encabezado {
	font-size: 8px !important;
}

.text-l {
	font-size: 6px !important;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-green-600 {
	color: #38a169;
}

.text-red-600 {
	color: rgb(255, 0, 0);
}

.header-report {
	padding-left: 80px;
}

.border-th {
	border-left: 0.5px solid;
	padding-left: 10px;
}

.text-padding {
	padding-top: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 8px;
}

.text-header-table {
	padding-right: 72px;
}

.column-black {
	background-color: black;
	color: #febe10;
}

.column-yellow {
	background-color: #febe10;
	color: black;
}

.table-border {
	border: 0.5px solid black;
}

.status-estimacion-pagado {
	color: #38a169;
	font-weight: 700;
}

.status-estimacion {
	color: rgb(255, 0, 0);
	font-weight: 700;
}

.contract-information {
	margin-right: 8px;
	padding-top: 40px;
}